body{
    font-family:'Roboto', Arial, san-serif;
    font-size: 16px;
    background: url('../img/side.png') top left repeat-y,
    #052A58 url('../img/side.png') top right repeat-y;
    max-width:1920px;
    margin: 0 auto;
}
img{
    width:100%;
    height:auto;

}
.header{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section h2{
    text-align:center;
    text-transform:uppercase;
}
section h2 span{
    color:#3B7CFF;
}
.header ul{
    margin-bottom:0;
    padding:0;
    text-align:left;
}
.header ul li{
    display:inline-block;
}
.header ul li a{
    padding:10px;
    display:block;
    text-transform:uppercase;
    font-weight:500;
    height:auto;
    text-decoration: none;
    color: #333333;
    border-bottom:2px solid #fff;

}
.header .logo{
    margin:0 auto 0;
    max-width:120px;
}
.header .logo a{
    display:block;
}
.header .logo img{
    width:100%;
    height:auto;
}
.header .register a{
    display:inline-block;
    color: #006EF5;
    font-weight:500;
    padding:10px;
    text-transform: uppercase;
    text-decoration:none;
}
.header .register {
    margin:20px auto;
}
.header .register a.register-btn{
    margin-right:15px;
}
.header .register a.register-btn:hover{
    color:#3B7CFF;
}
.header .register a.login{
    color:#fff;
    padding:10px 40px;
    border:1px solid #3B7CFF;
    background: #006EF5;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    text-align:center;
    display:inline-block;
}
.first_picture{
    background: url('../img/first_picture.png') center center no-repeat;
    background-size:cover;
}
.first-screen .logo{
    margin:45% auto;
    max-width:249px;
}

.number_visitors {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 15px #000000;
}

.page_1, .page_2 {
    width: 620px;
    height: 148px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    color: #000000;
    margin: auto;
}

.page_2 {
    margin-top: 50px;

}
.page_3 {
    width: 620px;
    height: 148px;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    color: #000000;
    margin: 100px 50px;
}

footer{
    padding:20px 0 40px;
    background: #052A58;
}
footer .container{
    background:transparent;
    color:#b4c8ed;
    text-align:center;
}
footer ul{
    margin:0;
    padding:0;
    list-style:none;
}
footer h4{
    margin:2em auto 0.7em;
    display:inline-block;
    padding-bottom:0.7em;
    border-bottom:1px solid #051439;
}
footer ul.ftr-menu li a{
    color:#b4c8ed;
    display:block;
    padding:5px 10px;
}
footer ul.social-icons li{
    display:inline-block;
    margin:20px;
}
footer ul.social-icons li a{
    display:block;
}
