body{
    font-family:'Roboto', Arial, san-serif;
    font-size: 16px;
    background: url('../img/patterns.png') top left repeat-y,
    #052A58 url('../img/patterns.png') top right repeat-y;
    max-width:1920px;
    margin: 0 auto;
}
img{
    width:100%;
    height:auto;

}
.menu_1{
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;}
.header{
    background:#fff;
    position:relative;
    z-index:10;
}
section h2{
    text-align:center;
    text-transform:uppercase;
}
section h2 span{
    color:#3B7CFF;
}
.header ul{
    margin-bottom:0;
    text-align:left;
    padding:10px;
    text-transform: uppercase;
    text-decoration:none;
}
.header .register {
    margin:20px auto;
}
.header ul li{
    display:inline-block;
}
.header ul li a{
    padding:10px;
    display:block;
    text-transform:uppercase;
    font-weight:500;
    height:auto;
    text-decoration: none;
    color: #333333;
    border-bottom:2px solid #fff;

}
.header .logo{
    margin:0 auto 0;
    max-width:120px;
}
.header .logo a{
    display:block;
}
.header .logo img{
    width:100%;
    height:auto;
}
.header .register a{
    display:inline-block;
    color: #006EF5;
    font-weight:500;
    padding:10px;
    text-transform: uppercase;
    text-decoration:none;
}
.header .register {
    margin:20px auto;
}
.header .register a.register-btn{
    margin-right:15px;
}
.header .register a.register-btn:hover{
    color:#3B7CFF;
}
.header .register a.login{
    color:#fff;
    padding:10px 40px;
    border:1px solid #3B7CFF;
    background: #006EF5;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    text-align:center;
    display:inline-block;
}
.first_picture{
    background: url('../img/first_picture.png') center center no-repeat;
    background-size:cover;
}
.first-screen .logo{
    margin:0 auto;
    max-width:240px;
}
.first-screen img.yurt{
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
}
.first-screen .logo{
    margin:0 auto;
    max-width:240px;
}
.first_picture {
    background: url('../img/first_picture.png') center center no-repeat;
    background-size: cover;
}
.container{
    background: #ffffff;
}
.portfolio .container{
    padding-top:15%;
    text-align:center;
    background: url('../img/mountains.png') top center no-repeat,#fff url('../img/horses.jpg') bottom center no-repeat;
}
.portfolio .circle,.why-choose-us .circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:2px solid #ccc;
    width:890px;
    height:890px;
    margin: 0 auto;
    padding:5%;
    position:relative;
}
.portfolio .circle .center-circle{
    width:184px;
    height:184px;
    position:absolute;
    top:calc(50% - 92px);
    left:calc(50% - 92px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background:#fff url('../img/icon.png') center center no-repeat;
    box-shadow:0px 4px 14px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.05);
}
.portfolio .circle .item{
    width:250px;
    height:250px;
    position:absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow:0px 4px 14px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.05);
    background:#fff url('../img/background2.png') center center no-repeat;
}
.portfolio .circle .circle-1{
    top:15%;
    left:15%;
}
.portfolio .circle .circle-2{
    top:15%;
    right:15%;
}
.portfolio .circle .circle-3{
    bottom:7%;
    left:calc(50% - 125px);
}
.why-choose-us{
    position:relative;
    width:100%;
    padding:0;
}
.why-choose-us .circle{
    margin-top:0;
    text-align:center;
    border:none;
    padding:1% 5% 5%;
}
.why-choose-us h2{
    margin-top:3em;
    margin-bottom:0;
}
.why-choose-us .circle .center-circle{
    width:480px;
    height:480px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background:url('../img/circle-main.png') center center no-repeat;
    position: absolute;
    top:calc(50% - 240px);
    left:calc(50% - 240px);
    box-shadow:0px 4px 14px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.05);
}
.why-choose-us .circle .item{
    width:80px;
    height:80px;
    margin:0 auto 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:1px solid #f0f0f0;
    background:#fff url('../img/the_same_icon.jpg') center center no-repeat;
    background-size:cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.why-choose-us .circle-item{
    position:absolute;
    text-align:center;
}
.why-choose-us .circle-item p{
    font-weight:bold;
}
.why-choose-us .circle .circle-1{
    top:7%;
    left:calc(50% - 40px);
}
.why-choose-us .circle .circle-2{
    top:20%;
    right:15%;
}
.why-choose-us .circle .circle-3{
    top:calc(50% - 40px);
    right:7%;
}
.why-choose-us .circle .circle-4{
    bottom:20%;
    right:15%;
}
.why-choose-us .circle .circle-5{
    bottom:5%;
    left:calc(50% - 40px);
}
.why-choose-us .circle .circle-6{
    bottom:20%;
    left:15%;
}
.why-choose-us .circle .circle-7{
    top:calc(50% - 40px);
    left:7%;
}
.why-choose-us .circle .circle-8 {
    top:20%;
    left:15%;
}
.yurt-bg {
    height: 278px;
    background: url('../img/yurt_back.png') center center no-repeat;
}
.statistic h2.title{
    margin-bottom:2em;
}
.statistic h4{
    text-transform:uppercase;
    margin-bottom:1.5em;
    text-align:center;
}
.statistic .graph{
    background:#fff;
    border:1px solid #f0f0f0;
}
.recent-action h2{
    margin:3em auto 1.5em;
}
.recent-action .more-btn{
    text-align:center;
}
.recent-action .more-btn a.more{
    display:inline-block;
    background: #006EF5 url('../img/arrow-right.png') 94% 50% no-repeat;
    padding:10px 40px 10px 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin:20px auto;
    text-transform: uppercase;
    color:#fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

}
.reviews h2.title{
    margin:3em auto 1.5em;
}
.tabs{
    border:1px solid #f0f0f0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tabs>ul{
    padding:0;
    margin:0;
    background: rgba(63, 134, 177, 0.1);
}
.tabs>ul li{
    display:inline-block;
    list-style-type:none;
    padding:18px 25px;
    text-transform:uppercase;
    cursor:pointer;
}
.tabs>ul li.active{
    background:#fff;
    border-bottom:2px solid #3B7CFF;
}
#content1,#content2{
    min-height:450px;
}
.video-reviews,.gallery{
    padding:15px;
}
.gallery{
    display:none;
}
.video-reviews .col-4{
    margin-bottom:15px;
    float:left;
}
.gallery .col-4{
    margin-bottom:15px;
}
.map{
    text-align:center;
}
.map h2.title{
    margin:3em auto 0;
}
.map .map-block{
    margin:0 auto;
}
footer{
    padding:20px 0 40px;
url('../img/patterns.png') top left repeat-y,
#052A58 url('../img/patterns.png') top right repeat-y;
}
footer .container{
    background:transparent;
    color:#b4c8ed;
    text-align:center;
}
footer ul{
    margin:0;
    padding:0;
    list-style:none;
}
footer h4{
    margin:2em auto 0.7em;
    display:inline-block;
    padding-bottom:0.7em;
    border-bottom:1px solid #051439;
}
footer ul.ftr-menu li a{
    color:#b4c8ed;
    display:block;
    padding:5px 10px;
}
footer ul.social-icons li{
    display:inline-block;
    margin:20px;
}
footer ul.social-icons li a{
    display:block;
}